<?xml version="1.0"?>
<!--
/**
 * An implementation of the OpenCensus tooling for Magento 2
 *
 * @category  Sitewards
 * @package   Sitewards_ClientHints
 * @copyright Copyright (c) Sitewards GmbH (http://www.sitewards.com)
 * @contact   mail@sitewards.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Sitewards_OpenCensus" setup_version="1.0.0" />
</config>